body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    color: #362d4b;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #87f4e8;
    color: #362d4b;
    text-align: center;
    padding: 1rem;
}

header h1, section#top5 h2 {
    margin: 0;
    text-align: center;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

section#top5 article {
    margin-bottom: 2rem;
}

section#top5 img {
    border: 2px solid #87f4e8;
    margin: 0.5rem 0;
    max-width: 100%;
    height: auto;
}

article h3, p {
    color: #362d4b;
    text-align: center;
}

footer p {
    margin: 0.5rem 0;
    text-align: center;
}
