body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    color: #362d4b;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #87f4e8; /* Color para header y footer */
    color: #362d4b;
    text-align: center;
    padding: 20px; /* Aumentar el padding para hacer el header más ancho */
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 45px; /* Tamaño del título */
    font-weight: bold; /* Negrita para el título */
}

header button {
    background-color: #362d4b;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

main {
    padding: 20px;
    text-align: center; /* Centrar el contenido */
}

h2 {
    font-size: 35px; /* Tamaño de los subtítulos */
}

p {
    font-size: 20px; /* Tamaño de la fuente */
}

section {
    margin-bottom: 20px;
}

section#top5 article {
    margin-bottom: 20px;
}

section#top5 img {
    border: 3px solid #362d4b; /* Color para bordes de las imágenes */
    margin: 10px auto; /* Margen para imágenes */
    display: block;
    max-width: 60%; /* Ajustar el tamaño de las imágenes */
    height: auto;
}

article h3 {
    font-size: 33px; /* Tamaño del nombre de los animes */
    font-weight: bold; /* Negrita para los nombres de los animes */
    color: #362d4b;
}

hr {
    border: 0;
    border-top: 5px solid #87f4e8; /* Color de la división entre animes */
    margin: 20px 0;
}
